<section id="contacto">
  <h2>CONTACTO</h2>
  <form>
    <div class=""><input type="text" placeholder="Tu email" /></div>
    <div class="">
      <textarea rows="10" placeholder="Tu mensaje"></textarea>
    </div>
    <button>ENVIAR</button>
  </form>
</section>
