<section id="contacto">
  <h2>CONTACTO</h2>
  <form action="/#contacto" method="POST">
    <%if(query.email === "1" && query.msg === "1"){ %>
    <span class="badge badge-secondary">Enviado</span>
    <%}%>
    <div class="">
      <div>
        <%if(query.email=== "0"){ %>
          <span class="badge badge-secondary">Campo requerido</span>
          <%}%>
      </div>
      <input type="text" placeholder="Tu email" name="email" value="<%= query.email === "1" ? formCookie.email: ""  %>"></input>
    </div>
    <div class="">
      <textarea rows="10" placeholder="Tu mensaje" name="message"  value="<%= query.email === "1" ? formCookie.msg: ""  %>">></textarea>
    </div>
    <div>
      <%if(query.msg=== "0"){ %>
        <span class="badge badge-secondary">Campo requerido</span>
        <%}%>
    </div>
    <button type="submit">ENVIAR</button>
  </form>
</section>
