<section id="home" class="container">
  <h1>CREAMOS LAS <strong>APLICACIONES</strong> DEL FUTURO</h1>
  <div class="divider"></div>
  <p>
    Dev Studio es la mejor opción si necesitas un prototipo o quieres acelerar
    tu ciclo de desarrollo
  </p>

  <div class="social">
    <a href=""><i class="fa fa-facebook"></i></a>
    <a href=""><i class="fa fa-twitter"></i></a>
    <a href=""><i class="fa fa-github"></i></a>
  </div>
</section>
