<section id="portafolio">
  <div class="container">
    <h2>PORTAFOLIO</h2>
    <div class="box">
      <img src="images/portafolio/roundicons.png" alt="Íconos redondeados" />
      <h3>Íconos redondeados</h3>
      <p>Creamos los mejores íconos redondeados del mercado</p>
    </div>
    <div class="box">
      <img src="images/portafolio/treehouse.png" alt="Creavite Digital" />
      <h3>Creavite Digital</h3>
      <p>Excelente trabajo que nos quedó para Creative Digital Inc.</p>
    </div>
    <div class="box">
      <img src="images/portafolio/escape.png" alt="We can do that" />
      <h3>We can do that</h3>
      <p>
        Increíble elabaración del concepto que hicimos para Yup, we can do that
      </p>
    </div>
    <div class="box">
      <img src="images/portafolio/escape.png" alt="Escape" />
      <h3>Escape</h3>
      <p>
        Este es el mismo que el anterior pero esperamos que nadie lo note
      </p>
    </div>
    <div class="box">
      <img src="images/portafolio/dreams.png" alt="Dreams" />
      <h3>Dreams</h3>
      <p>
        Una aplicacion que nos quedo muy bacana. Hecha con Ruby on Rails
      </p>
    </div>
    <div class="box">
      <img
        src="images/portafolio/startup-framework.png"
        alt="Startup Framework"
      />
      <h3>Startup Framework</h3>
      <p>Estes es increíble. Es un desarrollo que hicimos ya hace tiempo</p>
    </div>
  </div>
</section>
