<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') -%>
  <body>
    <%- include('partials/main') -%>
    <form action="/login" method="POST">
      <input type="text" name="username" placeholder="Usuario" />
      <input type="password" name="password" placeholder="Contraseña" />
      <button type="submit">Ingresar</button>
    </form>
    <%- include('partials/foot') -%>
  </body>
</html>
