<!DOCTYPE html>
<html lang="en">
  <title>Studio Dev - Register</title>
  <%- include('partials/head') -%>
  <body class="register">
    <div class="container">
      <div class="col-sm-6 mx-auto">
        <div class="card mt-5">
          <%- include('partials/main') -%>
          <div class="card-body">
            <h1 class="text-center"><span class="fa fa-sign-in"></span> Registrarse</h1>
            <form action="/register" method="POST">
              <div class="form-group">
                <label for="name">Nombre completo</label>
                <input type="text" name="name" class="form-control" />
              </div>
              <div class="form-group">
                <label for="email">Correo electronico</label>
                <input type="email" name="email" class="form-control" />
              </div>
              <div class="form-group">
                <label for="username">Usuario</label>
                <input type="text" name="username" class="form-control" />
              </div>
              <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" name="password" class="form-control" />
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-dark btn-lg form-control">Registrarse</button>
              </div>
              <a href="/login" class="btn btn-outline-dark form-control">Iniciar sesión</a>
            </form>
          </div>
        </div>
      </div>
      <%- include('partials/foot') -%>
    </div>
  </body>
</html>
